.header2 {
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: var(--color-secondary);
}

.header__container2 {
  width: 100%;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo2 {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header2 {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header2 {
    max-width: 320px;
    padding: 0 15px;
  }
}

/* ----------------- */
.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 8px 11px 0;
    transition: 0.7s;
    cursor: pointer;
  }

  .burger:hover {
    opacity: 0.5;
  }

  .burger__line {
    display: block;
    width: 28px;
    height: 3px;
    margin: 7px auto;
    background: #fff;
    transition: 0.7s;
  }

  .burger_active .burger__line_up {
    transform: translateY(8px) rotate(45deg);
  }

  .burger_active .burger__line_middle {
    opacity: 0;
  }

  .burger_active .burger__line_down {
    transform: translateY(-8px) rotate(-45deg);
  }
}
