.navigation__nav2 {
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__link2 {
  align-items: center;
  text-decoration: none;
  font-family: var(--font-primary);
  font-style: normal;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-light);
  transition: 0.7s;
  cursor: pointer;
}

.navigation__link_active2 {
  margin: 0 0 0 25px;
  padding: 7px 11px;
  gap: 7px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 50px;
  border: 2px solid var(--color-border);
  color: var(--color-light);
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navigation__nav2 {
    display: none;
  }
}
