.promo {
  max-width: 1280px;
  padding: 75px 70px 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
}

.promo__content {
  display: flex;
  justify-content: space-between;
}

.promo__title {
  max-width: 640px;
  margin: 0 0 36px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: var(--color-light);
}

.promo__text {
  max-width: 310px;
  margin: 0 0 146px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-light);
  opacity: 0.5;
}

.promo__img {
  width: 310px;
  height: 304px;
}
