.devider {
  max-width: 1280px;
  height: 140px;
  margin: 0 auto;
  padding: 40px 70px;
  background: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .devider {
    max-width: 768px;
    padding: 5px 30px;
  }
}

@media screen and (max-width: 320px) {
  .devider {
    max-width: 320px;
    height: 130px;
    padding: 0 10px;
  }
}
